body {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.start-screen {
  position: fixed;
  inset: 0;
  background: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.play-btn {
  font-size: 2rem;
  padding: 20px 40px;
  border: none;
  border-radius: 16px;
  background: #7c3aed;
  color: #000000;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.play-btn:hover {
  transform: scale(1.1);
  background: #6d28d9;
}
