body {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: bisque;
}

.startscreen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #487e8f57;
  transition: opacity 0.4s ease;
}

.startscreen.fade-out {
  opacity: 0;
  pointer-events: none;
}

.playbtn {
  font-size: 26px;
  padding: 20px 40px;
  border-radius: 16px;
  background: #ffffff;
  color: #2a2b35;
  cursor: pointer;
  transition: transform 0.2s ease;

  border: 5px solid #4e4437;
}

.playbtn:hover {
  transform: scale(1.1);
}
