body {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-image: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.startscreen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playbtn {
  font-size: 26px;
  padding: 20px 40px;
  border-radius: 16px;
  background: #ffffff;
  color: #2a2b35;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-color: #2a2b35;
  border-width: 5px;
}

.playbtn:hover {
  transform: scale(1.1);
}
